@font-face {
  src: url("./LightGX.ttf") format("truetype-variations"),
    url("./LightGX.ttf") format("truetype");
  font-family: "Light";
  /* unicode-range: U+F100-FFFF; */
}

:root {
  --background-color: #1a1a1a;
}

body {
  background-color: var(--background-color);
  font-family: "Trebuchet MS", sans-serif;
  /* Hack for mobile safari */
  position: fixed;
  height: calc(100% - 0px);
  width: calc(100% - 0px);
  overflow: hidden;
  display: grid;
  align-content: center;
  justify-content: center;
}

i {
  font-style: normal;
  font-size: 300;
  font-family: "Light", sans-serif;
  font-variant-ligatures: discretionary-ligatures;
  color: white;
  line-height: 1;
}

@keyframes brighten {
  from {
    font-variation-settings: "LGHT" 100;
    color: var(--background-color);
  }
  to {
    font-variation-settings: "LGHT" 1000;
    color: #f9fa57;
  }
}

@keyframes dim {
  from {
    font-variation-settings: "LGHT" 1000;
    color: #f9fa57;
  }
  to {
    font-variation-settings: "LGHT" 100;
    color: paleturquoise;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.revolve {
  display: block;
  animation: spin 60s infinite linear;
}

.stars {
  animation-duration: 6s;
  animation-name: brighten;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.sun {
  animation-delay: 2s;
  animation-duration: 6s;
  animation-name: dim;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
